@{
    ViewBag.Title = "Manager";
}
<br />
<div id="app">
    <div class="panel panel-info">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="ZooKeeper Hosts">
                <span class="input-group-btn">
                    <a class="btn btn-default">Connect!</a>
                </span>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">ZNodes</h3>
                </div>
                <div class="panel-body">
                    <div id="zNodes" class="treeview"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">NodeState</h3>
                </div>
                <div class="panel-body"></div>
            </div>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3 class="panel-title">Op</h3>
                    </div>
                </div>
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var App = (function () {
            function App() {
            }
            App.prototype.LoadNodes = function () {
                var reqMsg = {
                    "header": {
                        "connectString": "192.168.31.103:2181"
                    },
                    "body": {
                        "parentPath": "/"
                    }
                };
                $.ajax({
                    url: '/Api/GetChildren',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    traditional: true,
                    data: JSON.stringify(reqMsg),
                    success: function (resp) { 
                        var $zNodesTree = $('#zNodes').treeview({
                            data: resp.body.children,
                            level: 99
                        });

                    }
                });

            };
            return App;
        }());
        var app = new App();
        app.LoadNodes();
    </script>

}
